<a href="https://colab.research.google.com/github/sharktank-tech/Dados-Mercado/blob/main/An%C3%A1lise_de_Dados_de_Mercado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

arquivo = pd.read_csv("arquivo.csv")
display(arquivo)


# 1 - Qual foi o faturamento total do mercado em 2020?
# 2 - Qual foi o ticket médio do mercado em junho de 2020?
# 3 - Qual foi o mês com o maior número de clientes no ano de 2021?
# 4 - Qual foi o faturamento médio mensal do mercado em 2021?
# 5 - Qual foi o crescimento percentual do faturamento de janeiro de 2020 para janeiro de 2021?
# 6 - Qual foi o mês em que o número de funcionários aumentou?
# 7 - Qual foi o faturamento médio por cliente em outubro de 2021?
# 8 - Qual foi a média de clientes atendidos por funcionário em julho de 2020?
# 9 - Qual foi o mês em que o mercado teve o maior número de vendas?
# 10- Qual foi o ticket médio em dezembro de 2020?

,Mês,Ano,Faturamento,Ticket Médio,Número de Clientes,Número de Funcionários
0,Jan,2020,R$ 50.000,R$ 100,5000,30
1,Fev,2020,R$ 60.000,R$ 110,5500,30
2,Mar,2020,R$ 55.000,R$ 105,5200,30
3,Abr,2020,R$ 62.000,R$ 115,5400,30
4,Mai,2020,R$ 70.000,R$ 120,5800,35
5,Jun,2020,R$ 72.000,R$ 125,5900,35
6,Jul,2020,R$ 80.000,R$ 130,6150,40
7,Ago,2020,R$ 85.000,R$ 135,6300,40
8,Set,2020,R$ 90.000,R$ 140,6500,45
9,Out,2020,R$ 95.000,R$ 145,6700,45
10,Nov,2020,R$ 100.000,R$ 150,6900,50
11,Dez,2020,R$ 120.000,R$ 155,7400,50
12,Jan,2021,R$ 55.000,R$ 110,5500,30
13,Fev,2021,R$ 65.000,R$ 120,5700,30
14,Mar,2021,R$ 60.000,R$ 115,5600,30
15,Abr,2021,R$ 68.000,R$ 125,5800,30
16,Mai,2021,R$ 75.000,R$ 130,6100,35
17,Jun,2021,R$ 78.000,R$ 135,6200,35
18,Jul,2021,R$ 85.000,R$ 140,6450,40
19,Ago,2021,R$ 90.000,R$ 145,6600,40
20,Set,2021,R$ 95.000,R$ 150,6800,45
21,Out,2021,R$ 100.000,R$ 155,7000,45
22,Nov,2021,R$ 110.000,R$ 160,7200,50


#1 - Qual foi o faturamento total do mercado em 2020?

In [ ]:
# Remove caracteres não numéricos da coluna "Faturamento" e converte para tipo numérico
arquivo['Faturamento'] = arquivo['Faturamento'].apply(lambda x: float(re.sub(r'[^\d.]', '', x)))

# Converte a coluna "Ano" para string
arquivo['Ano'] = arquivo['Ano'].astype(str)

# Seleciona as linhas em que a coluna "Ano" começa com "2020"
df_2020 = arquivo.loc[arquivo['Ano'].str.startswith('2020'), :]

# Calcula a soma da coluna "Faturamento" no novo dataframe
total_faturamento_2020 = df_2020['Faturamento'].sum()

print("Total de Faturamento em 2020:", format(round(total_faturamento_2020, 5), ","), "R$")

Total de Faturamento em 2020: 939.0 $

#2 - Qual foi o ticket médio do mercado em Junho de 2020?

In [9]:
# Remove caracteres não numéricos da coluna "Ticket Médio" e converte para tipo numérico
arquivo['Ticket Médio'] = arquivo['Ticket Médio'].apply(lambda x: float(re.sub(r'[^\d.]', '', x)))


# Converte a coluna "Ano" para string
arquivo['Ano'] = arquivo['Ano'].astype(str)

# Seleciona as linhas em que a coluna "Ano" começa com "2020"
df_2020 = arquivo.loc[arquivo['Ano'].str.startswith('2020')]


# Separa o mês de Junho
df_junho_2020 = df_2020.loc[arquivo["Mês"].str.startswith("Jun")]

# Separa apenas a coluna do "Ticket Médio"
ticket_medio = df_junho_2020['Ticket Médio']

print("Ticket Médio do mês de Junho de 2020:",format(ticket_medio))

Ticket Médio do mês de Junho de 2020: 5    125.0
Name: Ticket Médio, dtype: float64

#3 - Qual foi o mês com o maior número de clientes no ano de 2021?

In [1]:
# Converte a coluna "Ano" para string
arquivo['Ano'] = arquivo['Ano'].astype(str)

# Seleciona as linhas em que a coluna "Ano" começa com "2021"
df_2021 = arquivo.loc[arquivo['Ano'].str.startswith('2021')]

# Encontra o índice do valor máximo na coluna "Número de Clientes"
indice_maximo = df_2021["Número de Clientes"].idxmax()

# Obtém o valor do mês com o maior número de clientes
mes_maximo = df_2021.loc[indice_maximo, "Mês"]

print("Mês com o maior número de clientes:", str(mes_maximo))

Mês com o maior número de clientes: Nov

#4 - Qual foi o faturamento médio mensal do mercado em 2021?#

In [6]:
# Converte a coluna "Ano" para string
arquivo['Ano'] = arquivo['Ano'].astype(str)

# Seleciona as linhas em que a coluna "Ano" começa com "2021"
df_2021 = arquivo.loc[arquivo['Ano'].str.startswith('2021')]

# Encontra o índice do valor medio da coluna "Número de Clientes"
valor_medio = df_2021["Número de Clientes"].mean()


print("Faturamento médio mensal do mercado em 2021:",format(round(valor_medio,2)))

Faturamento médio mensal do mercado em 2021: 6268.18

# 5 - Qual foi o crescimento percentual do faturamento de janeiro de 2020 para janeiro de 2021?

In [11]:
arquivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Mês                     23 non-null     object
 1   Ano                     23 non-null     int64
 2   Faturamento             23 non-null     object
 3   Ticket Médio            23 non-null     object
 4   Número de Clientes      23 non-null     int64
 5   Número de Funcionários  23 non-null     int64
dtypes: int64(3), object(3)
memory usage: 1.2+ KB